@use "variables"; 
@use "mixins";

.btn-explorer {
  @include mixins.btn-primary();
}

.btn-like {
  display: flex;
  align-items: center;
  border: none;
  margin-right: 25px;
  margin-left: 13px;
  background: none;
  padding: 0;
  position: relative;
  .empty-heart {
    font-size: 1.05rem;
    position: absolute;
    &:hover {
      opacity: 0;
    }
  }
  .full-heart {
    font-size: 1.05rem;
    position: absolute;
    background: linear-gradient(0deg, variables.$secondary-color 0%, variables.$primary-color 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}

.btn-commander {
  @include mixins.btn-primary();
  width: 186px;
  align-self: center;
  margin-top: 23px;
}
