header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 375px;
    max-height: 63px;
    margin: 23px 89px 13px 89px;
    padding-left: 16px;
    padding-right: 19px;
  }
  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 17px;
    color: $grey-1;
    background-color: $grey-2;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 5px 0px inset;
    i {
      width: 12px;
      height: 16px;
    }
  }
}

/* élément header pour les pages des restaurants*/
.header-pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  gap: 40px;
  .arrow-left {
    padding: 0;
    border: none;
    background: none;
    color: $grey-1;
    margin-left: 17px;
  }
  img {
    max-width: 375px;
    max-height: 63px;
    margin: 23px 89px 13px 0;
    padding-left: 16px;
    padding-right: 19px;
  }
}
