.loader {
  background-color: rgba(0, 58, 104, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: display-none-transition 3000ms forwards;
  @keyframes display-none-transition {
    0% {
      opacity: 1;
    }
    100% {
      display: none;
      opacity: 0;
    }
  }
  .loader-circle {
    display: flex;
    position: fixed;
    top: 50vh;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid $grey-1;
    border-top-color: $grey-3;
    animation: loader-circle 3100ms;
  }
  @keyframes loader-circle {
    0% {
      transform: rotate(0);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }
}
