.main-restaurant {
  background: $grey-3;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
}
}
.menu-restaurant {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: $grey-3;
  padding: 32px 17px 32px 17px;
  border-radius: 20px 20px 0 0;
  margin-top: -40px;
  position: relative;
  @media (min-width: 1024px) {
    width: 100%;
    max-width: 1055px;
    align-items: center;
}
  .menu-title {
    display: flex;
    justify-content: left;
    gap: 33px;
    h1 {
      color: $black-1;
      font-family: Shrikhand;
      font-size: 28px;
      font-weight: 400;
    }
  }

  .entree-options,
.plat-options,
.dessert-options {
    @media (min-width: 1024px) {
      	width: 100%;
	max-width: 634px;
    }
}
  .entree-options {
    animation: fadein 1s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.plat-options {
  animation: fadein 2s;
}

.dessert-options {
  animation: fadein 3s;
}

form {
  display: flex;
  gap: 17px;
  flex-direction: column;
  .card-option {
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0;
    height: 69px;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px
      rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    /* SIMULATION D'ANIMATION DES CARDS AVEC LA SELECTION DU CHECKBOX : CE HOVER EST ICI SUR LE .price-checkbox DE FAÇON TEMPORAIRE */
    &:hover .price-checkbox {
      transform: translateX(0);
    }
    .plats {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 15px;
      margin-left: 15px;
      margin-bottom: 15px;
      gap: 5px;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15.043px;
        font-weight: 300;
        margin: 0;
      }
    }
    .price-checkbox {
      display: flex;
      align-items: center;
      gap: 15px;
      transform: translateX(70px);
      transition: transform 0.5s ease;
      input[type="checkbox"] {
        width: 0;
        /* 
          &:checked {
            transform: translateX(0);
          }
          &:not(:checked) {
            transform: translateX(70px); 
          } 
        */
      }
      .price {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        margin-left: 15px;
        color: $grey-1;
        font-size: 15.043px;
        font-weight: 700;
      }
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 69px;
        height: 69px;
        color: white;
        background: $tertiary-color;
        border-radius: 0 15px 15px 0;
      }
    }
  }
}
