.main-restaurant {
  background: $grey-3;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
  }
}
.menu-restaurant {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: $grey-3;
  padding: 32px 17px 32px 17px;
  border-radius: 20px 20px 0 0;
  margin-top: -40px;
  position: relative;
  @media (min-width: 1024px) {
    width: 1089px;
    padding: 32px 0 32px 0;
    align-items: center;
  }
  .menu-title {
    display: flex;
    justify-content: left;
    gap: 33px;
    h1 {
      color: $black-1;
      font-family: Shrikhand;
      font-size: 1.75rem;
      font-weight: 400;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 17px;
    label {
      display: flex;
      /* position: absolute; */
      white-space: nowrap;
      height: 69px;
      width: 100%;
      top: -12px;
      cursor: pointer;
    }
    .entree-options,
    .plat-options,
    .dessert-options {
      display: flex;
      gap: 17px;
      flex-direction: column;
      @media (min-width: 1024px) {
        width: 634px;
      }
    }
    .entree-options {
      animation: fadein 1s;
    }
    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .plat-options {
      animation: fadein 2s;
    }
    .dessert-options {
      animation: fadein 3s;
    }
  }

  .card-option {
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0;
    height: 69px;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px
      rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    @media (min-width: 1024px) {
      &:hover .price-checkbox {
        /* SIMULATION D'ANIMATION DES CARDS AVEC LA SELECTION DU CHECKBOX : LE HOVER SUR LE .card-option déplace le .price-checkbox vers la gauche */
        transform: translateX(0);
      }
    }
    .plats {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 15px;
      gap: 5px;
      overflow: hidden;
      width: calc(125% - 140px);
      .description {
        font-size: 0.94rem;
        font-weight: 300;
        margin: 0;
        @include ellipsis;
      }
    }
    input[type="checkbox"] {
      display: none;
      &:checked + .price-checkbox {
        /* ceci permet au checkbox de rester affiché si selectionné */
        transform: translateX(0);
      }
    }
    .price-checkbox {
      display: flex;
      align-items: center;
      gap: 15px;
      transform: translateX(70px);
      transition: transform 0.5s ease;
      .price {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        margin-left: 15px;
        color: $grey-1;
        font-size: 0.94rem;
        font-weight: 700;
      }
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 69px;
        height: 69px;
        color: white;
        background: $tertiary-color;
        border-radius: 0 15px 15px 0;
      }
    }
  }
}
