$grey-1: #353535;
$grey-2: #eaeaea;

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        max-width: 375px;
        max-height: 63px;
        margin: 23px 89px 13px 89px;
        padding-left: 16px;
        padding-right: 19px;
    }
    .location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        gap: 17px;
        color: $grey-1;
        background-color: $grey-2;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 5px 0px inset;
        i {
            width: 12px;
            height: 16px;
        }
        p {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal
        }
    }
}

main {
    margin-top: 39px;
    margin-left: 17px;
    margin-right: 17px; 
    margin-bottom: 66px;
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #F6F6F6; // esse background nao rolou pq nao aplica em toda a seção. Rever as margens de tudo. Quem sabe pensar num mixin pra margens laterais
        h1 {
            margin: 0;
        }
        p {
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-top: 18px;
            margin-bottom: 27px;
        }
    }
    .fonctionnement {
        margin-top: 48px;
        h1 {
            margin: 0;
        }
    }
}