$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$grey-1: #353535;
$grey-2: #eaeaea;
$grey-3: #f6f6f6;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  padding: 13px 16px;
  background: linear-gradient(175deg, $secondary-color 0%, $primary-color 100%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ffffff;
  text-decoration: none;
  transition: 300ms ease-out;
  &:hover {
    opacity: 0.8;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
}

h1 {
  margin: 0;
}

h2 {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $grey-1;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 375px;
    max-height: 63px;
    margin: 23px 89px 13px 89px;
    padding-left: 16px;
    padding-right: 19px;
  }
  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 17px;
    color: $grey-1;
    background-color: $grey-2;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 5px 0px inset;
    i {
      width: 12px;
      height: 16px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 34px;
  padding-right: 26px;
  background: $grey-3;
  p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 18px;
    margin-bottom: 27px;
  }
}

.fonctionnement {
  padding: 48px 20px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 60px 20px;
  background: $grey-3;
  .card-restaurant {
    position: relative;
    border-radius: 15px;
    background-color: #ffffff;
    a {
      text-decoration: none;
      img {
        width: 100%;
        height: 174px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        margin-bottom: 19px;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 13px;
        padding-right: 13px;
        color: #000;
      }
      .card-content {
        flex-direction: column;
        padding: 0;
        p {
          font-size: 17px;
          font-weight: 300;
          color: #000;
          margin-top: 5px;
          margin-bottom: 12px;
        }
        .card-like {
          padding: 0;
          align-items: center;
        }
      }
    }
    .tag-nouveau {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62px;
      height: 16px;
      padding: 7px 9px 9px 6px;
      border-radius: 2px;
      position: absolute;
      bottom: 200px;
      right: 10px;
      color: #008766;
      background-color: $tertiary-color;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
  }
}
