@charset "UTF-8";
body {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-style: normal;
  line-height: normal;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin-top: 23px;
}
h3::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0px;
  width: 40px;
  height: 6px;
  background-color: #99e2d0;
}

.h4 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(125% - 80px);
}

p {
  font-size: 1rem;
  font-weight: 500;
  color: #353535;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .logo {
  max-width: 375px;
  max-height: 63px;
  margin: 23px 89px 13px 89px;
  padding-left: 16px;
  padding-right: 19px;
}
header .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 17px;
  color: #353535;
  background-color: #eaeaea;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 5px 0px inset;
}
header .location i {
  width: 12px;
  height: 16px;
}

/* élément header pour les pages des restaurants*/
.header-pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  gap: 40px;
}
.header-pages .arrow-left {
  padding: 0;
  border: none;
  background: none;
  color: #353535;
  margin-left: 17px;
  position: absolute;
  margin-right: 0px;
  left: 17px;
}
.header-pages .logo {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 375px;
  max-height: 63px;
  margin: 23px 0 13px 0;
  padding-left: 16px;
  padding-right: 19px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 34px;
  padding-right: 26px;
  background: #f6f6f6;
}
.hero p {
  font-size: 1.125rem;
  font-weight: 300;
  margin-top: 18px;
  margin-bottom: 27px;
}

.hero-restaurant {
  display: flex;
}
.hero-restaurant img {
  width: 100vw;
  max-height: 275px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .hero-restaurant img {
    max-height: 383px;
  }
}

.fonctionnement {
  padding: 50px 20px;
}
@media (min-width: 1024px) {
  .fonctionnement {
    padding-left: 180px;
    padding-right: 180px;
  }
}
.fonctionnement .liste-etapes {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 12.5px;
}
@media (min-width: 1024px) {
  .fonctionnement .liste-etapes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
  }
}
.fonctionnement h1 {
  margin-bottom: 30px;
}
.fonctionnement .etape {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-left: 34.5px;
  padding-right: 35px;
  gap: 27px;
  height: 72.4px;
  max-width: 100%;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement .etape .fa-mobile-screen-button,
.fonctionnement .etape .fa-list {
  color: #7e7e7e;
}
.fonctionnement .etape .fa-store {
  color: #9356dc;
}
.fonctionnement .etape .counter {
  position: absolute;
  left: -10px;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  color: #ffffff;
  font-size: 0.88rem;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 60px 20px;
  background: #f6f6f6;
}
@media (min-width: 1024px) {
  .restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
}
.restaurants .cards-restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1024px) {
  .restaurants .cards-restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;
  }
}
.restaurants .card {
  position: relative;
  border-radius: 15px;
  background-color: #ffffff;
}
.restaurants .card a {
  text-decoration: none;
  color: #000;
}
.restaurants .card a img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  margin-bottom: 19px;
}
.restaurants .card div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 13px;
  padding-right: 13px;
}
.restaurants .card div a {
  width: 100%;
}
.restaurants .card .card-content {
  flex-direction: column;
  padding: 0;
}
.restaurants .card .card-content p {
  font-size: 1.0625rem;
  font-weight: 300;
  color: #000;
  margin-top: 5px;
  margin-bottom: 12px;
}

.tag-nouveau {
  width: 62px;
  height: 16px;
  margin: 0;
  padding: 7px 9px 9px 6px;
  border-radius: 2px;
  position: absolute;
  bottom: 216px;
  right: 10px;
  color: #008766;
  background-color: #99e2d0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-restaurant {
  background: #f6f6f6;
}
@media (min-width: 1024px) {
  .main-restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
  }
}

.menu-restaurant {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #f6f6f6;
  padding: 32px 17px 32px 17px;
  border-radius: 20px 20px 0 0;
  margin-top: -40px;
  position: relative;
}
@media (min-width: 1024px) {
  .menu-restaurant {
    width: 1089px;
    padding: 32px 0 32px 0;
    align-items: center;
  }
}
.menu-restaurant .menu-title {
  display: flex;
  justify-content: left;
  gap: 33px;
}
.menu-restaurant .menu-title h1 {
  color: #101010;
  font-family: Shrikhand;
  font-size: 1.75rem;
  font-weight: 400;
}
.menu-restaurant form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.menu-restaurant form label {
  white-space: nowrap;
}
.menu-restaurant form .entree-options,
.menu-restaurant form .plat-options,
.menu-restaurant form .dessert-options {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
@media (min-width: 1024px) {
  .menu-restaurant form .entree-options,
  .menu-restaurant form .plat-options,
  .menu-restaurant form .dessert-options {
    width: 634px;
  }
}
.menu-restaurant form .entree-options {
  animation: fadein 1000ms;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-restaurant form .plat-options {
  animation: fadein 2500ms;
}
.menu-restaurant form .dessert-options {
  animation: fadein 4000ms;
}
.menu-restaurant .card-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 0;
  height: 69px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .menu-restaurant .card-option:hover .price-checkbox {
    /* SIMULATION D'ANIMATION DES CARDS AVEC LA SELECTION DU CHECKBOX : LE HOVER SUR LE .card-option déplace le .price-checkbox vers la gauche */
    transform: translateX(0);
  }
}
.menu-restaurant .card-option .plats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
  gap: 5px;
  overflow: hidden;
  width: calc(125% - 140px);
}
.menu-restaurant .card-option .plats .description {
  font-size: 0.94rem;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(125% - 80px);
}
.menu-restaurant .card-option input[type=checkbox] {
  display: none;
}
.menu-restaurant .card-option input[type=checkbox]:checked + .price-checkbox {
  /* ceci permet au checkbox de rester affiché si selectionné */
  transform: translateX(0);
}
.menu-restaurant .card-option .price-checkbox {
  display: flex;
  align-items: center;
  gap: 15px;
  transform: translateX(70px);
  transition: transform 0.5s ease;
}
.menu-restaurant .card-option .price-checkbox .price {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-left: 15px;
  color: #353535;
  font-size: 0.94rem;
  font-weight: 700;
}
.menu-restaurant .card-option .price-checkbox .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69px;
  height: 69px;
  color: white;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: end;
    gap: 16px;
  }
}
footer h2 {
  font-family: Shrikhand;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  footer h2 {
    margin-bottom: 0;
    margin-top: 27px;
  }
}
footer .footer-content {
  display: flex;
  gap: 7px;
  flex-direction: column;
}
@media (min-width: 1024px) {
  footer .footer-content {
    flex-direction: row;
  }
}
footer .footer-content .footer-icons,
footer .footer-content .footer-info {
  display: flex;
  gap: 7px;
  flex-direction: column;
}
@media (min-width: 1024px) {
  footer .footer-content .footer-icons,
  footer .footer-content .footer-info {
    flex-direction: row;
    margin-right: 37px;
    gap: 11px;
  }
}
footer .footer-content a {
  text-decoration: none;
  color: #ffffff;
}
footer .footer-content a i {
  width: 11px;
  margin-right: 15px;
}

.btn-explorer {
  display: flex;
  justify-content: center;
  padding: 13px 18.75px;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  transition: 300ms ease-out;
}
.btn-explorer:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.btn-like {
  display: flex;
  align-items: center;
  border: none;
  margin-right: 25px;
  margin-left: 13px;
  background: none;
  padding: 0;
  position: relative;
}
.btn-like .empty-heart {
  font-size: 1.05rem;
  position: absolute;
}
.btn-like .empty-heart:hover {
  opacity: 0;
}
.btn-like .full-heart {
  font-size: 1.05rem;
  position: absolute;
  background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.btn-like .full-heart:hover {
  opacity: 1;
}

.btn-commander {
  display: flex;
  justify-content: center;
  padding: 13px 18.75px;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 100%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  transition: 300ms ease-out;
  width: 186px;
  align-self: center;
  margin-top: 23px;
}
.btn-commander:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.loader {
  background-color: #f6f6f6;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: display-none-transition 2500ms forwards;
}
@keyframes display-none-transition {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    width: 100%;
  }
  100% {
    display: none;
    width: 0;
    opacity: 0;
  }
}
.loader .loader-circle {
  display: flex;
  position: fixed;
  top: 50vh;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #99e2d0;
  border-top-color: #9356dc;
  animation: loader-circle 1750ms infinite;
}
@keyframes loader-circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
